# LRS настройки
LOGIN_LRS=
PASSWORD_LRS=
LRS_ENDPOINT=

# Nextcloud
API_NEXTCLOUD=
LOGIN_NEXTCLOUD=
PASSWORD_NEXTCLOUD=
FOLDER_NEXTCLOUD=
NEXTCLOUD_EXTERNAL_URL=

# Nextcloud PostgreSQL 
NEXTCLOUD_DB_HOST=
NEXTCLOUD_DB=
NEXTCLOUD_USER=
NEXTCLOUD_PASSWORD=
NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=
NEXTCLOUD_TRUSTED_DOMAINS=
OVERWRITEPROTOCOL=
OVERWRITEHOST=
OVERWRITEWEBROOT=

# Настройки приложения
SLIDES_OUTPUT_FOLDER=
THEME_MARP=
API_AI=
